<div class="profile-form">
  <div class="profile-form__row">
    <label class="profile-form__label" for="profile-name">Пользователь</label>

    <input
      id="profile-name"
      class="profile-form__control"
      name="profileName"
      [ngModel]="userProfileDraft.name"
      disabled
    />
  </div>

  <div class="profile-form__row">
    <label class="profile-form__label" for="profile-level">Уровень</label>

    <select
      id="profile-level"
      class="profile-form__control"
      name="profileLevel"
      [(ngModel)]="userProfileDraft.level"
      (ngModelChange)="onChange()"
    >
      <option *ngFor="let l of levels" [value]="l">{{ l }}</option>
    </select>
  </div>

  <div class="profile-form__row">
    <label class="profile-form__label" for="profile-campus">Кампус</label>

    <select
      id="profile-campus"
      class="profile-form__control"
      name="profileCampus"
      [(ngModel)]="userProfileDraft.campus"
      (ngModelChange)="onChange()"
    >
      <option *ngFor="let c of campuses" [value]="c">{{ c }}</option>
    </select>
  </div>
</div>
